{% extends "layout.html" %}
{% from "_form_macros.html" import render_form_field %}

{% block content %}

<div class="container">
    <div class="mt-3 mb-4">
        <h2>New password:</h2>
    </div>
    <form action="{{ url_for('user.reset_with_token', token=token) }}" method="POST">
        {{ form.csrf_token }}
        <dl>
            {{ render_form_field(form.password, placeholder="Enter new password") }}
        </dl>
        <dl>
            {{ render_form_field(form.confirm, placeholder="Confirmte password") }}
        </dl>
        <button class="btn btn-sm btn-success" type="submit">Submit</button>
    </form>
</div>

{% endblock %}