{% extends "layout.html" %}
{% from "_form_macros.html" import render_form_field %}

{%  block content %}

<div class="container content">

<div class="card">
      <div class="mt-3 mb-4 header">
        <h2>Change password</h2>
      </div>

<div class="content">
    <form action="{{ url_for('user.user_password_change') }}" method="POST" >
        {{ form.csrf_token }}
         <dl>
                {{  render_form_field(form.old_password, placeholder="Old password") }}
            </dl>
            <dl>
                {{ render_form_field(form.password, placeholder="Password") }}
            </dl>
            <dl>
                {{ render_form_field(form.confirm, placeholder="Confirm new password") }}
            </dl>
            <button class="btn btn-sm btn-success" type="submit">Update</button>
    </form>
</div>
</div>
</div>

{% endblock %}